@inherits LayoutComponentBase


@page "/"

<PageTitle>Home</PageTitle>

<MudLayout>
    <h3>Welcome to the Golf Shop!</h3>
    <MudSpacer/>
    <MudCarousel Style="height:200px" Arrows="@arrows" AutoCycle="@autoCycle" EnableSwipeGestures="@enableSwipeGestures" Transition="@transition" ShowBullets="@bullets" TData="object">        
            <MudCarouselItem>      
                <div style="display:flex; justify-content:center; align-items:center; height:100%;">
                    <MudImage Src="images/Titleist.jpg" style="width:auto; height:100%; object-fit:cover;" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem>
                <div style="display:flex; justify-content:center; align-items:center; height:100%;">
                    <MudImage Src="images/Taylormade.jpg" style="width:auto; height:100%; object-fit:cover;" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem>
                 <div style="display:flex; justify-content:center; align-items:center; height:100%;">
                     <MudImage Src="images/Callaway.jpg" style="width:auto; height:100%; object-fit:cover;" />
                 </div>
            </MudCarouselItem>
    </MudCarousel>



</MudLayout>

@code{
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGestures = true;
    private bool autoCycle = true;
    private Transition transition = Transition.Slide;
}